<form method="post" action="process-medicine">

    medicineName: <input type="text" name="medicineName" ><br>
    disease: <input type="text" name="disease" ><br>
    company:<input type="text" name="company" ><br>
    noOfTablet_inStrip:<input type="text" name="noOfTablet_inStrip" ><br>
    price :<input type="text" name="price" ><br>
    description <input type="" name="description" ><br>
    image1 :<input type="text" name="image1" ><br>
    image2:<input type="text" name="image2" ><br>
    <button type="submit" class="">Send</button>
</form>